name: build
on:
  push:
    branches: [main, release/**]

jobs:
  dist:
    name: Create Distribution
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: "Prepare Artifacts"
        run: |
          pip install build
          python -m build
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          path: dist/*
