name: build
on:
  push:
    branches: [main, release/**]

permissions:
  contents: write
  pull-requests: write

jobs:
  dist:
    name: Create Distribution
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: "Prepare Artifacts"
        run: |
          pip install build
          python -m build
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          path: dist/*
